/*index*/
body{
    background-color: green;
}
nav{
    background-color: aqua;
}

.nav-link{
    text-decoration: none;
    list-style: none;
}

/*animales*/

img{
    width: 275px;
    height: auto;
}

/*contacto*/



/*organizacion*/


